@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgb(249,255,0);
    background: linear-gradient(90deg, rgba(249,255,0,1) 66%, rgba(187,193,44,1) 100%);
    margin-bottom: 500px !important;
    font-family: 'Grenze Gotisch', cursive;
}

.center{
    display: flex;
    justify-content: center;
}
