body{
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: linear-gradient(to right, rgb(66, 189, 189) , aqua);
}

.center{
    display: flex;
    justify-content: center;
}